In [1]:
import ipywidgets
from matplotlib import pyplot as plt
import pandas as pd

In [2]:
asteroids_df = pd.read_pickle("data/lvl2/asteroids.pkl")

In [3]:
# Creating an interactive spectra viewer

# Dropdown menu for widgets
top_class_widget = ipywidgets.Dropdown(options=["Main_Group", "Bus_Class"]) 
sub_class_widget = ipywidgets.Dropdown()

# Update the sub class options whenever a new top class is chosen
def update_sub_class(*args):
    sub_class_widget.options = sorted(asteroids_df[top_class_widget.value].unique())
    
top_class_widget.observe(update_sub_class) # Any dynamic changes to top class will trigger the update function

# The function to plot all spectra that fit a certain class
def plot_single_spec(top_class, sub_class, ylim_fixed): 

    # Set the background and figure size
    plt.style.use("dark_background")
    plt.rc("font", family="serif", size=18)
    plt.figure(figsize=(20, 8))
    
    # Grab the dataframe that contains only rows that have the matching subclass
    asteroids_filtered_df = asteroids_df.loc[asteroids_df[top_class] == sub_class]

    num_spectra = float(len(asteroids_filtered_df))
    print(f"Number of ({top_class}) {sub_class} spectra: {num_spectra}")

    if (num_spectra > 10):
        num_spectra = 10

    # Plot each spectral line on a graph
    for _, row in asteroids_filtered_df.iterrows(): 
        plt.plot(row["SpectrumDF"]["Wavelength_in_microm"], row["SpectrumDF"]["Reflectance_norm550nm"],
                 color="#ccebc4", alpha=1.0/num_spectra)

    # Adjust the styling of the graph
    plt.xlabel("Wavelength (micrometers)")
    plt.ylabel("Reflectance (normalized to 550 nm)")
    plt.grid(linestyle="--", alpha=0.3)
    plt.xlim(0.44, 0.92)

    if ylim_fixed: 
        plt.ylim(0.5, 1.5)
        
    plt.show()

# Display the widgets
ipywidgets.interactive(plot_single_spec, top_class=top_class_widget, sub_class=sub_class_widget, ylim_fixed=False)

interactive(children=(Dropdown(description='top_class', options=('Main_Group', 'Bus_Class'), value='Main_Groupâ€¦

In [5]:
# Some statistics for our dataframe to create context for our classification analysis 
asteroids_df[["Main_Group", "Bus_Class"]].describe()

       Main_Group Bus_Class
count        1339      1339
unique          4        25
top             S         S
freq          549       383

In [11]:
asteroids_df.groupby(["Main_Group", "Bus_Class"])["Bus_Class"].agg("count")

Main_Group  Bus_Class
C           B             60
            C            141
            Cb            33
            Cg             9
            Cgh           15
            Ch           138
Other       A             16
            D              9
            K             31
            L             34
            Ld            13
            O              1
            R              4
            T             14
            V             35
S           S            383
            Sa            34
            Sk            16
            Sl            49
            Sq            52
            Sr            15
X           X            110
            Xc            60
            Xe            28
            Xk            39
Name: Bus_Class, dtype: int64

In [13]:
asteroids_df.groupby(["Main_Group"])["Main_Group"].agg("count")

Main_Group
C        396
Other    157
S        549
X        237
Name: Main_Group, dtype: int64